.col {
}

.cardImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--bg-white);
  width: 93%;
  margin: 3rem auto;
  height: 27.5rem;
  border: none;
  transition: 0.3s all ease-in-out;
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius-lg);
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  cursor: pointer;
}

.card:hover {
  scale: 1.05;
  border: 2px solid var(--color-primary);

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-lg);
}

.cardText {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.cardTitle {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-weight-bold);
}

.cardTitle small {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

@media screen and (min-width: 992px) {
  .card {
    padding: 0.5rem;
  }
}

.mainTitleCard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  text-align: start;
  text-transform: uppercase;
}

.mainTitleCard .cardText {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--color-dark);
  text-align: start;
  width: 100%;
  margin: 0 auto;
  margin-top: -0.5rem;
  height: 2rem;
}

.mainTitleCard .cardTitle {
  font-size: var(--font-size-md);
}

.propertyPrice {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailsProperty {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.url {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.3rem 1rem;
  border-radius: var(--border-radius-3xl);
}

.url:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.spanCodeProperty {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-3xl);
  padding: 0.1rem 1rem;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
