.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 !important;
  padding-top: 1rem !important;
}

.paginationItem {
  /* margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  margin-right: 0.5rem !important; */
}

.arrowIcon {
  color: var(--color-primary);
}

.paginationLink {
  color: var(--color-dark-light);
}

.paginationLink:active {
  background-color: var(--bg-primary) !important;
}

.paginationLink:hover {
  background-color: var(--color-primary);
  color: white;
}

.paginationLink.active {
  background-color: var(--color-primary);
  color: white;
  border: 2px solid var(--color-primary) !important;
}

.paginationLinkActive {
  background-color: var(--color-primary);
  color: white;
  border: 2px solid var(--color-primary) !important;
}

.paginationLink span {
  border: none !important;
}
