.col {
  margin: 0.5rem 0;
  position: relative;
}

.card {
  padding: 0.5rem;
  border-radius: var(--border-radius-lg);
  border: 1px solid white !important;
  position: relative;
  height: 420px !important;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border-radius: var(--border-radius-xl);
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/* CARD GRID */
.isListCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  height: auto !important;
  grid-auto-flow: row;
  width: 100% !important ;
  border: none;
  border-radius: var(--border-radius-3xl);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.isListCard h3 {
  font-size: var(--font-size-md);
}

.isListCard:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 1px solid var(--color-white);
}

.isListCardBody {
  height: 100%;
  margin: 0 !important;
  padding: 2rem !important;
  margin: 0 auto !important;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

@media (min-width: 992px) {
  .isListCardBody {
    position: absolute;
    right: 0;
    width: 67%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mainContentCard {
  }

  .isListPriceContainer {
    width: 40%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: felx-center;
    flex-direction: column;
    width: 100%;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding: 2rem 0 0 0;
    text-align: end;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    height: 100%;
  }

  .isListPriceContainer span {
    margin: 1.7rem 0 0 0;
  }
}

.isListCard .col {
  margin: 0;
}

.card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.cardBody {
  margin: 0;
  padding: 0.7rem;
}

.deptStatus {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-3xl);
}

.deptStatusForSales {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-3xl);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.deptStatusFeatured {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-3xl);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 100%;
  max-height: 2500px !important;
  height: 200px !important;
  object-fit: cover;
  border-radius: var(--border-radius-3xl);
  cursor: pointer;
}

.isListCardImage {
  width: 100%;
  max-height: 2500px !important;
  height: 200px !important;
  object-fit: cover;
  border-radius: var(--border-radius-3xl);
  cursor: pointer;
  border-radius: 20px;
}

@media screen and (min-width: 992px) {
  .isListCardImage {
    width: 100%;
    max-height: 2500px !important;
    height: 200px !important;
    object-fit: cover;
    border-radius: var(--border-radius-3xl);
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
  }
}

.cardTitle {
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--color-black);
  text-transform: capitalize;
  margin: 0.5rem 0;
  margin: 0;
  padding: 0;
}

.deptCode {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

.address {
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  margin: 0;
  padding: 0.3rem 0 !important;
}

.priceContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
}

.priceContainer span {
  font-size: var(--font-size-md);
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  margin-top: 0.5rem;
}

.details {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-3xl);
  text-decoration: none;
  cursor: pointer;
}

.details:hover {
  color: var(--color-white);
}
